{{#if error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{!-- para que nos escriba el texto de erorres --}}
   {{error}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{{/if}}

{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{!-- para que nos escriba el texto de erorres --}}
   {{text}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}