<div class="card">
    <div class="card-body">

        <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non impedit placeat, hic laboriosam nihil vero, ea incidunt nulla officia temporibus iste unde veniam voluptatum facilis! Dolores voluptatibus quas recusandae odio?</p>
    </div>
</div>