{{!-- jumbotron es un tipo de sintaxis para crear una estructura basica en nuestra app --}}
<div class="jumbotron-mt-4">
    <h1 class="display-4">Notes app Nodejs & MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum velit non sapiente cupiditate accusantium beatae adipisci similique eligendi, vero assumenda! Autem facilis ea deleniti ex quibusdam impedit repellendus vel commodi!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore error eligendi eaque fugit est non quidem optio nemo, reprehenderit, praesentium voluptatibus cumque placeat sint corporis nesciunt ullam esse assumenda ab?</p>
    <a href="htttp://google.com" class="btn btn-primary btn-lg">google</a>
</div>