<div class="row">
    <div class="cold-md-4 mx auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h1>Account Login</h1>
            </div>
            {{!-- dentro del class van ordenes de bootstrap para hacer más bonito el Logo
            por ejemplo rounded circle hace que nuestro logo sea circular --}}
            <img src="/img/obito.png" class=" rounded-circle logo mx-auto d-block m-4" alt="Logo">
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">SigIn</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>